@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
body {
    background-color: #000;
}




/* {
    id: 1,
    name: 'Eat-n-Split',
    technologies: ['CSS', 'react.js'],
    description: 'This application allows you to split the bills with your friends when you go out eating.',
    liveLink: 'github',
    githubLink: '#',
  }, */